.axisLine {
	stroke: #ccc;
	shape-rendering: crispEdges;
	fill: none;
}

.axisLabel {
	fill: #aaa;
	font-size: 11px;
}

.axisValueLabel {
	fill: #aaa;
	font-size: 11px;
	text-anchor: end;
}

.axisLabel.hiddenLabel {
	opacity: 0;
	pointer-events: none;
}
