.area.fadedArea {
	opacity: 0;
}

.line {
	stroke-width: 1.5;
	fill: none;
}

.line.fadedLine {
	stroke: var(--andys-charts-faded-line, rgba(0, 0, 0, 0.125));
}

.line.fadedLine.darkLine {
	stroke: var(--andys-charts-faded-line-dark, rgba(255, 255, 255, 0.125));
}

.line.thinLine {
	stroke-width: 1;
}
