.axisLine {
	stroke: var(--andys-charts-axis-line, #ccc);
	shape-rendering: crispEdges;
	fill: none;
}

.axisLine.darkAxisLine {
	stroke: var(--andys-charts-axis-line-dark, #444);
}

.axisLabel {
	fill: var(--andys-charts-axis-label, #aaa);
	font-size: 11px;
}

.axisValueLabel {
	text-anchor: end;
}

.axisLabel.darkAxisLabel {
	fill: var(--andys-charts-axis-label-dark, #666);
}

.axisLabel.hiddenLabel {
	opacity: 0;
	pointer-events: none;
}
