.chart {
	max-width: 1000px;
}

.main {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr);
	align-items: start;
	position: relative;
}

.inner {
	position: relative;
}

.canvas {
	display: block;
}

.valueAxis {
	display: block;
	grid-column: 1;
	grid-row: 1;
}
