.main {
	color: var(--andys-charts-title, #666);
	font-weight: bold;
}

.main.darkMain {
	color: var(--andys-charts-title-dark, #ccc);
}

.artist {
	color: var(--andys-charts-artist, #777);
}

.darkContainer .artist {
	color: var(--andys-charts-artist-dark, #aaa);
}
